<html>
    <head>
        <title>Welcome to the Image Database</title>
    </head>
    <style>
        form {text-align : center;}
        title {text-align: center;}
        h1 {text-align: center;}
    </style>
    
    <body>
        <h1>Signup</h1>
        <form action = '/signup/?token={{ token }}' method="post">
            <label for="username">Username:</label><br>
            <input type="text" name="username" id="username" value="Jamn"><br><br>
            <label for="password">Password:</label><br>
            <input type="password" name="password" id="password"><br><br>
            <label for="perm">Permission(N for normal,A for Admin):</label><br>
            <input type="text" name="perm" id="perm"><br><br>
            <input type="submit" id = "Submit" name="Submit" value="Signup">
        </form>
    </body>
</html>